body {
  overflow: hidden;
  width:100%;
}

body.light-mode {
  background-color:#e9e9e9 !important;
  color: #000;
}
body.light-mode .grid ul li ul li {
  background-color: #9e9e9e!important;
  color: #fff;
}

body.dark-mode {
  background-color: #000 !important;
  color: #cecece;
}

body.dark-mode .grid ul li ul li {
  background-color: #222!important;
  color: #cecece;
}

body.dark-mode button,
body.dark-mode select {
  background-color: #111 !important;
  color: #cecece !important;
}

body.light-mode button#play-pause-button {
  background-image: none;
} 
body.light-mode button#play-pause-button.play {
  background: url("../images/play-ffffff.png"), #6c757d !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
} 
body.light-mode button#play-pause-button.pause {
  background: url("../images/pause-ffffff.png"), #6c757d !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
} 
body.dark-mode button#play-pause-button {
  background-image: none;
} 
body.dark-mode button#play-pause-button.play {
  background: url("../images/play-cecece.png"), #111 !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
} 
body.dark-mode button#play-pause-button.pause {
  background: url("../images/pause-cecece.png"), #111 !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
} 

body.dark-mode .grid ul li ul li.empty {
  background-color: #000 !important;
}

body.light-mode .grid ul li ul li {
  background-color: #fff!important;
  color: #000;
}

body.light-mode .grid ul li ul li.empty {
  background-color: #000 !important;
}

/* @media only screen and (orientation:portrait){
  .controls select {
    padding-left:110px !important;
  }
} */

/* @viewport {  
  orientation: portrait;  
}  */

div#outer-container {
  text-align:center;
  width:auto;
  max-width: 1024px;
}

#top-panel {
  width: 270px;
  margin: auto;
  text-align: center;
  margin-left:45%;
}

#top-panel * {
  margin: 7px; 
  float: left;
}

#top-panel input[type="checkbox"] {
  margin-top: 20px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  height: 16px;
  width: 16px;
  border: 1px solid white;
  background: #000;
  color: #000;
}

#top-panel input[type="checkbox"]:checked {
  background: lightgray;
  color: white;
}

div#remaining-count {
  font-size:x-large;
}

.grid {
  width: 100%;
}

.grid ul {
  list-style-type: none;
}

.grid ul li ul li.empty {
  background-color: #000;
}
.grid > li:first-child { visibility: hidden; }

.grid ul li {
  display: inline-block;
}

.grid ul li {
  display: inline-block;
}

.grid ul li ul li {
  float: left; 
  background-color: #fff; 
  display: block;
  border: solid 1px #000;
  padding: 9px;
  min-width: 60px;
  height: 60px;
  font-size:x-large;
}

#remaining-moves {
  visibility: hidden;
  height:1px !important;
  width: 1px !important;
}

#game-form select, 
#game-form button {
  float:left;
  min-width: 100px;
}

.controls button, 
.controls select {
  width: 240px;
  font-size: x-large;
  text-align: center;
  touch-action: manipulation;
}

/* mobile device specific rules */
@media (max-width: 900px) {
  .controls button, 
  .controls select {
    position: relative;
    left: -110px;
    width: 130%;
  }

  .controls select {
    padding-left:110px !important;
  }

  #top-panel {
    margin: auto !important;
  }

  .grid {
    width: 100%;
    position: relative;
    /* left:-40px; */
    left:-37px;
  }

}

.controls button {
  margin-left:5%;
  min-height:110px;
}
.controls select {
  min-height:80px;
  margin:3% 2% 2% 5%;

  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

.controls {
  text-align:center;
  width:auto;
  width:60%;
  float: right;
}

.controls * {
  text-align:center;
  width:auto;
}

.display {
  font-size: 0;
}

.display div, .display span {
  display: inline-block;
  width: 1px !important;
  height: 300px !important;
  margin: 0 !important;
  padding: 0 !important;
}

.display .bw001 {
  background: url("../images/black-white-001.png") top left !important;
}
.display .bw002 {
  background: url("../images/black-white-002.png") !important;
}
.display .bw003 {
  /* background: url("../images/black-white-003.png") !important; */
  background: url("../images/black-white-002.png") !important;
}
.display .bw004 {
  background: url("../images/black-white-004.png") !important;
}
.display .bw005 {
  background: url("../images/black-white-005.png") !important;
}
.display .bw006 {
  background: url("../images/black-white-006.png") !important;
}
.display .bw007 {
  background: url("../images/black-white-007.png") !important;
}
.display .bw008 {
  background: url("../images/black-white-008.png") !important;
}
.display .bw009 {
  background: url("../images/black-white-009.png") !important;
}
.display .bw010 {
  background: url("../images/black-white-010.png")  !important;
}
.display .bw011 {
  background: url("../images/black-white-011.png") !important;
}
.display .bw012 {
  background: url("../images/black-white-012.png") !important;
}
.display .bw013 {
  background: url("../images/black-white-013.png") !important;
}
.display .bw014 {
  background: url("../images/black-white-014.png") !important;
}
.display .bw015 {
  background: url("../images/black-white-015.png") !important;
}
.display .bw016 {
  background: url("../images/black-white-016.png") !important;
}
.display .bw017 {
  background: url("../images/black-white-017.png") !important;
}
.display .bw018 {
  background: url("../images/black-white-018.png") !important;
}
.display .bw019 {
  background: url("../images/black-white-019.png") !important;
}
.display .bw020 {
  background: url("../images/black-white-020.png") !important;
}
.display .bw021 {
  background: url("../images/black-white-021.png") !important;
}
.display .bw022 {
  background: url("../images/black-white-022.png") !important;
}
.display .bw023 {
  background: url("../images/black-white-023.png") !important;
}
.display .bw024 {
  background: url("../images/black-white-024.png") !important;
}
.display .bw025 {
  background: url("../images/black-white-025.png") !important;
}
.display .bw026 {
  background: url("../images/black-white-026.png") !important;
}
.display .bw027 {
  background: url("../images/black-white-027.png") !important;
}
.display .bw028 {
  background: url("../images/black-white-028.png") !important;
}
.display .bw029 {
  background: url("../images/black-white-029.png") !important;
}
.display .bw030 {
  background: url("../images/black-white-030.png") !important;
}
.display .bw031 {
  background: url("../images/black-white-031.png") !important;
}
.display .bw032 {
  background: url("../images/black-white-032.png") !important;
}
.display .bw033 {
  background: url("../images/black-white-033.png") !important;
}
.display .bw034 {
  background: url("../images/black-white-034.png") !important;
}
.display .bw035 {
  background: url("../images/black-white-035.png") !important;
}
.display .bw036 {
  background: url("../images/black-white-036.png") !important;
}
.display .bw037 {
  background: url("../images/black-white-037.png") !important;
}
.display .bw038 {
  background: url("../images/black-white-038.png") !important;
}
.display .bw039 {
  background: url("../images/black-white-039.png") !important;
}
.display .bw040 {
  background: url("../images/black-white-040.png") !important;
}
.display .bw041 {
  background: url("../images/black-white-041.png") !important;
}
.display .bw042 {
  background: url("../images/black-white-042.png") !important;
}
.display .bw043 {
  background: url("../images/black-white-043.png") !important;
}
.display .bw044 {
  background: url("../images/black-white-044.png") !important;
}
.display .bw045 {
  background: url("../images/black-white-045.png") !important;
}
.display .bw046 {
  background: url("../images/black-white-046.png") !important;
}
.display .bw047 {
  background: url("../images/black-white-047.png") !important;
}
.display .bw048 {
  background: url("../images/black-white-048.png") !important;
}
.display .bw049 {
  background: url("../images/black-white-049.png") !important;
}
.display .bw050 {
  background: url("../images/black-white-050.png") !important;
}
.display .bw051 {
  background: url("../images/black-white-051.png") !important;
}
.display .bw052 {
  background: url("../images/black-white-052.png") !important;
}
.display .bw053 {
  background: url("../images/black-white-053.png") !important;
}
.display .bw054 {
  background: url("../images/black-white-054.png") !important;
}
.display .bw055 {
  background: url("../images/black-white-055.png") !important;
}
.display .bw056 {
  background: url("../images/black-white-056.png") !important;
}
.display .bw057 {
  background: url("../images/black-white-057.png") !important;
}
.display .bw058 {
  background: url("../images/black-white-058.png") !important;
}
.display .bw059 {
  background: url("../images/black-white-059.png") !important;
}
.display .bw060 {
  background: url("../images/black-white-060.png") !important;
}
.display .bw061 {
  background: url("../images/black-white-061.png") !important;
}
.display .bw062 {
  background: url("../images/black-white-062.png") !important;
}
.display .bw063 {
  background: url("../images/black-white-063.png") !important;
}
.display .bw064 {
  background: url("../images/black-white-064.png") !important;
}
.display .bw065 {
  background: url("../images/black-white-065.png") !important;
}
.display .bw066 {
  background: url("../images/black-white-066.png") !important;
}
.display .bw067 {
  background: url("../images/black-white-067.png") !important;
}
.display .bw068 {
  background: url("../images/black-white-068.png") !important;
}
.display .bw069 {
  background: url("../images/black-white-069.png") !important;
}
.display .bw070 {
  background: url("../images/black-white-070.png") !important;
}
.display .bw071 {
  background: url("../images/black-white-071.png") !important;
}
.display .bw072 {
  background: url("../images/black-white-072.png") !important;
}
.display .bw073 {
  background: url("../images/black-white-073.png") !important;
}
.display .bw074 {
  background: url("../images/black-white-074.png") !important;
}
.display .bw075 {
  background: url("../images/black-white-075.png") !important;
}
.display .bw076 {
  background: url("../images/black-white-076.png") !important;
}
.display .bw077 {
  background: url("../images/black-white-077.png") !important;
}
.display .bw078 {
  background: url("../images/black-white-078.png") !important;
}
.display .bw079 {
  background: url("../images/black-white-079.png") !important;
}
.display .bw080 {
  background: url("../images/black-white-080.png") !important;
}
.display .bw081 {
  background: url("../images/black-white-081.png") !important;
}
.display .bw082 {
  background: url("../images/black-white-082.png") !important;
}
.display .bw083 {
  background: url("../images/black-white-083.png") !important;
}
.display .bw084 {
  background: url("../images/black-white-084.png") !important;
}
.display .bw085 {
  background: url("../images/black-white-085.png") !important;
}
.display .bw086 {
  background: url("../images/black-white-086.png") !important;
}
.display .bw087 {
  background: url("../images/black-white-087.png") !important;
}
.display .bw088 {
  background: url("../images/black-white-088.png") !important;
}
.display .bw089 {
  background: url("../images/black-white-089.png") !important;
}
.display .bw090 {
  background: url("../images/black-white-090.png") !important;
}
.display .bw091 {
  background: url("../images/black-white-091.png") !important;
}
.display .bw092 {
  background: url("../images/black-white-092.png") !important;
}
.display .bw093 {
  background: url("../images/black-white-093.png") !important;
}
.display .bw094 {
  background: url("../images/black-white-094.png") !important;
}
.display .bw095 {
  background: url("../images/black-white-095.png") !important;
}
.display .bw096 {
  background: url("../images/black-white-096.png") !important;
}
.display .bw097 {
  background: url("../images/black-white-097.png") !important;
}
.display .bw098 {
  background: url("../images/black-white-098.png") !important;
}
.display .bw099 {
  background: url("../images/black-white-099.png") !important;
}
.display .bw100 {
  background: url("../images/black-white-100.png") !important;
}
.display .bw101 {
  background: url("../images/black-white-101.png") !important;
}
.display .bw102 {
  background: url("../images/black-white-102.png") !important;
}
.display .bw103 {
  background: url("../images/black-white-103.png") !important;
}
.display .bw104 {
  background: url("../images/black-white-104.png") !important;
}
.display .bw105 {
  background: url("../images/black-white-105.png") !important;
}
.display .bw106 {
  background: url("../images/black-white-106.png") !important;
}
.display .bw107 {
  background: url("../images/black-white-107.png") !important;
}
.display .bw108 {
  background: url("../images/black-white-108.png") !important;
}
.display .bw109 {
  background: url("../images/black-white-109.png") !important;
}
.display .bw110 {
  background: url("../images/black-white-110.png") !important;
}
.display .bw111 {
  background: url("../images/black-white-111.png") !important;
}
.display .bw112 {
  background: url("../images/black-white-112.png") !important;
}
.display .bw113 {
  background: url("../images/black-white-113.png") !important;
}
.display .bw114 {
  background: url("../images/black-white-114.png") !important;
}
.display .bw115 {
  background: url("../images/black-white-115.png") !important;
}
.display .bw116 {
  background: url("../images/black-white-116.png") !important;
}
.display .bw117 {
  background: url("../images/black-white-117.png") !important;
}
.display .bw118 {
  background: url("../images/black-white-118.png") !important;
}
.display .bw119 {
  background: url("../images/black-white-119.png") !important;
}
.display .bw120 {
  background: url("../images/black-white-120.png") !important;
}
.display .bw121 {
  background: url("../images/black-white-121.png") !important;
}
.display .bw122 {
  background: url("../images/black-white-122.png") !important;
}
.display .bw123 {
  background: url("../images/black-white-123.png") !important;
}
.display .bw124 {
  background: url("../images/black-white-124.png") !important;
}
.display .bw125 {
  background: url("../images/black-white-125.png") !important;
}
.display .bw126 {
  background: url("../images/black-white-126.png") !important;
}
.display .bw127 {
  background: url("../images/black-white-127.png") !important;
}
.display .bw128 {
  background: url("../images/black-white-128.png") !important;
}
.display .bw129 {
  background: url("../images/black-white-129.png") !important;
}
.display .bw130 {
  background: url("../images/black-white-130.png") !important;
}
.display .bw131 {
  background: url("../images/black-white-131.png") !important;
}
.display .bw132 {
  background: url("../images/black-white-132.png") !important;
}
.display .bw133 {
  background: url("../images/black-white-133.png") !important;
}
.display .bw134 {
  background: url("../images/black-white-134.png") !important;
}
.display .bw135 {
  background: url("../images/black-white-135.png") !important;
}
.display .bw136 {
  background: url("../images/black-white-136.png") !important;
}
.display .bw137 {
  background: url("../images/black-white-137.png") !important;
}
.display .bw138 {
  background: url("../images/black-white-138.png") !important;
}
.display .bw139 {
  background: url("../images/black-white-139.png") !important;
}
.display .bw140 {
  background: url("../images/black-white-140.png") !important;
}
.display .bw141 {
  background: url("../images/black-white-141.png") !important;
}
.display .bw142 {
  background: url("../images/black-white-142.png") !important;
}
.display .bw143 {
  background: url("../images/black-white-143.png") !important;
}
.display .bw144 {
  background: url("../images/black-white-144.png") !important;
}
.display .bw145 {
  background: url("../images/black-white-145.png") !important;
}
.display .bw146 {
  background: url("../images/black-white-146.png") !important;
}
.display .bw147 {
  background: url("../images/black-white-147.png") !important;
}
.display .bw148 {
  background: url("../images/black-white-148.png") !important;
}
.display .bw149 {
  background: url("../images/black-white-149.png") !important;
}
.display .bw150 {
  background: url("../images/black-white-150.png") !important;
}
.display .bw151 {
  background: url("../images/black-white-151.png") !important;
}
.display .bw152 {
  background: url("../images/black-white-152.png") !important;
}
.display .bw153 {
  background: url("../images/black-white-153.png") !important;
}
.display .bw154 {
  background: url("../images/black-white-154.png") !important;
}
.display .bw155 {
  background: url("../images/black-white-155.png") !important;
}
.display .bw156 {
  background: url("../images/black-white-156.png") !important;
}
.display .bw157 {
  background: url("../images/black-white-157.png") !important;
}
.display .bw158 {
  background: url("../images/black-white-158.png") !important;
}
.display .bw159 {
  background: url("../images/black-white-159.png") !important;
}
.display .bw160 {
  background: url("../images/black-white-160.png") !important;
}
.display .bw161 {
  background: url("../images/black-white-161.png") !important;
}
.display .bw162 {
  background: url("../images/black-white-162.png") !important;
}
.display .bw163 {
  background: url("../images/black-white-163.png") !important;
}
.display .bw164 {
  background: url("../images/black-white-164.png") !important;
}
.display .bw165 {
  background: url("../images/black-white-165.png") !important;
}
.display .bw166 {
  background: url("../images/black-white-166.png") !important;
}
.display .bw167 {
  background: url("../images/black-white-167.png") !important;
}
.display .bw168 {
  background: url("../images/black-white-168.png") !important;
}
.display .bw169 {
  background: url("../images/black-white-169.png") !important;
}
.display .bw170 {
  background: url("../images/black-white-170.png") !important;
}
.display .bw171 {
  background: url("../images/black-white-171.png") !important;
}
.display .bw172 {
  background: url("../images/black-white-172.png") !important;
}
.display .bw173 {
  background: url("../images/black-white-173.png") !important;
}
.display .bw174 {
  background: url("../images/black-white-174.png") !important;
}
.display .bw175 {
  background: url("../images/black-white-175.png") !important;
}
.display .bw176 {
  background: url("../images/black-white-176.png") !important;
}
.display .bw177 {
  background: url("../images/black-white-177.png") !important;
}
.display .bw178 {
  background: url("../images/black-white-178.png") !important;
}
.display .bw179 {
  background: url("../images/black-white-179.png") !important;
}
.display .bw180 {
  background: url("../images/black-white-180.png") !important;
}
.display .bw181 {
  background: url("../images/black-white-181.png") !important;
}
.display .bw182 {
  background: url("../images/black-white-182.png") !important;
}
.display .bw183 {
  background: url("../images/black-white-183.png") !important;
}
.display .bw184 {
  background: url("../images/black-white-184.png") !important;
}
.display .bw185 {
  background: url("../images/black-white-185.png") !important;
}
.display .bw186 {
  background: url("../images/black-white-186.png") !important;
}
.display .bw187 {
  background: url("../images/black-white-187.png") !important;
}
.display .bw188 {
  background: url("../images/black-white-188.png") !important;
}
.display .bw189 {
  background: url("../images/black-white-189.png") !important;
}
.display .bw190 {
  background: url("../images/black-white-190.png") !important;
}
.display .bw191 {
  background: url("../images/black-white-191.png") !important;
}
.display .bw192 {
  background: url("../images/black-white-192.png") !important;
}
.display .bw193 {
  background: url("../images/black-white-193.png") !important;
}
.display .bw194 {
  background: url("../images/black-white-194.png") !important;
}
.display .bw195 {
  background: url("../images/black-white-195.png") !important;
}
.display .bw196 {
  background: url("../images/black-white-196.png") !important;
}
.display .bw197 {
  background: url("../images/black-white-197.png") !important;
}
.display .bw198 {
  background: url("../images/black-white-198.png") !important;
}
.display .bw199 {
  background: url("../images/black-white-199.png") !important;
}
.display .bw200 {
  background: url("../images/black-white-200.png") !important;
}
.display .bw201 {
  background: url("../images/black-white-201.png") !important;
}
.display .bw202 {
  background: url("../images/black-white-202.png") !important;
}
.display .bw203 {
  background: url("../images/black-white-203.png") !important;
}
.display .bw204 {
  background: url("../images/black-white-204.png") !important;
}
.display .bw205 {
  background: url("../images/black-white-205.png") !important;
}
.display .bw206 {
  background: url("../images/black-white-206.png") !important;
}
.display .bw207 {
  background: url("../images/black-white-207.png") !important;
}
.display .bw208 {
  background: url("../images/black-white-208.png") !important;
}
.display .bw209 {
  background: url("../images/black-white-209.png") !important;
}
.display .bw210 {
  background: url("../images/black-white-210.png") !important;
}
.display .bw211 {
  background: url("../images/black-white-211.png") !important;
}
.display .bw212 {
  background: url("../images/black-white-212.png") !important;
}
.display .bw213 {
  background: url("../images/black-white-213.png") !important;
}
.display .bw214 {
  background: url("../images/black-white-214.png") !important;
}
.display .bw215 {
  background: url("../images/black-white-215.png") !important;
}
.display .bw216 {
  background: url("../images/black-white-216.png") !important;
}
.display .bw217 {
  background: url("../images/black-white-217.png") !important;
}
.display .bw218 {
  background: url("../images/black-white-218.png") !important;
}
.display .bw219 {
  background: url("../images/black-white-219.png") !important;
}
.display .bw220 {
  background: url("../images/black-white-220.png") !important;
}
.display .bw221 {
  background: url("../images/black-white-221.png") !important;
}
.display .bw222 {
  background: url("../images/black-white-222.png") !important;
}
.display .bw223 {
  background: url("../images/black-white-223.png") !important;
}
.display .bw224 {
  background: url("../images/black-white-224.png") !important;
}
.display .bw225 {
  background: url("../images/black-white-225.png") !important;
}
.display .bw226 {
  background: url("../images/black-white-226.png") !important;
}
.display .bw227 {
  background: url("../images/black-white-227.png") !important;
}
.display .bw228 {
  background: url("../images/black-white-228.png") !important;
}
.display .bw229 {
  background: url("../images/black-white-229.png") !important;
}
.display .bw230 {
  background: url("../images/black-white-230.png") !important;
}
.display .bw231 {
  background: url("../images/black-white-231.png") !important;
}
.display .bw232 {
  background: url("../images/black-white-232.png") !important;
}
.display .bw233 {
  background: url("../images/black-white-233.png") !important;
}
.display .bw234 {
  background: url("../images/black-white-234.png") !important;
}
.display .bw235 {
  background: url("../images/black-white-235.png") !important;
}
.display .bw236 {
  background: url("../images/black-white-236.png") !important;
}
.display .bw237 {
  background: url("../images/black-white-237.png") !important;
}
.display .bw238 {
  background: url("../images/black-white-238.png") !important;
}
.display .bw239 {
  background: url("../images/black-white-239.png") !important;
}
.display .bw240 {
  background: url("../images/black-white-240.png") !important;
}
.display .bw241 {
  background: url("../images/black-white-241.png") !important;
}
.display .bw242 {
  background: url("../images/black-white-242.png") !important;
}


