@()

@main("Sort") {
  <div id='outer-container'>
    <div id="top-panel">
      <input type="checkbox" id="dark-mode" />
      <div id='remaining-count'></div>
    <!-- <br class='clearfix' /> 
    <br class='clearfix' /> 
    <br class='clearfix' />  -->
    </div>
    <div class='controls'>
      <select id='board-size' class='form-control btn-secondary'>
        <option value=''>Algorithm</option>
        <option value='bubble'>Bubble Sort</option>
        <option value='heap'>Heap Sort</option>
        <option value='insertion'>Insertion Sort</option>
        <option value='merge'>Merge Sort</option>
        <option value='selection'>Selection Sort</option>
      </select>
    </div> 
    <br class='clearfix' /> 
    <br class='clearfix' /> 
    <br class='clearfix' /> 
    <br class='clearfix' /> 
    <br class='clearfix' /> 
    <br class='clearfix' /> 
    <br class='clearfix' /> 
    <div id='outer-board'>
      <div id='board' class='grid'>
        <span id="001" />
        <span id="002" />
        <span id="003" />
        <span id="004" />
        <span id="005" />
        <span id="006" />
        <span id="007" />
        <span id="008" />
        <span id="009" />
        <span id="010" />
        <span id="011" />
        <span id="012" />
        <span id="013" />
        <span id="014" />
        <span id="015" />
        <span id="016" />
        <span id="017" />
        <span id="018" />
        <span id="019" />
        <span id="020" />
        <span id="021" />
        <span id="022" />
        <span id="023" />
        <span id="024" />
        <span id="025" />
        <span id="026" />
        <span id="027" />
        <span id="028" />
        <span id="029" />
        <span id="030" />
        <span id="031" />
        <span id="032" />
        <span id="033" />
        <span id="034" />
        <span id="035" />
        <span id="036" />
        <span id="037" />
        <span id="038" />
        <span id="039" />
        <span id="040" />
        <span id="041" />
        <span id="042" />
        <span id="043" />
        <span id="044" />
        <span id="045" />
        <span id="046" />
        <span id="047" />
        <span id="048" />
        <span id="049" />
        <span id="050" />
        <span id="051" />
        <span id="052" />
        <span id="053" />
        <span id="054" />
        <span id="055" />
        <span id="056" />
        <span id="057" />
        <span id="058" />
        <span id="059" />
        <span id="060" />
        <span id="061" />
        <span id="062" />
        <span id="063" />
        <span id="064" />
        <span id="065" />
        <span id="066" />
        <span id="067" />
        <span id="068" />
        <span id="069" />
        <span id="070" />
        <span id="071" />
        <span id="072" />
        <span id="073" />
        <span id="074" />
        <span id="075" />
        <span id="076" />
        <span id="077" />
        <span id="078" />
        <span id="079" />
        <span id="080" />
        <span id="081" />
        <span id="082" />
        <span id="083" />
        <span id="084" />
        <span id="085" />
        <span id="086" />
        <span id="087" />
        <span id="088" />
        <span id="089" />
        <span id="090" />
        <span id="091" />
        <span id="092" />
        <span id="093" />
        <span id="094" />
        <span id="095" />
        <span id="096" />
        <span id="097" />
        <span id="098" />
        <span id="099" />
        <span id="100" />
        <span id="101" />
        <span id="102" />
        <span id="103" />
        <span id="104" />
        <span id="105" />
        <span id="106" />
        <span id="107" />
        <span id="108" />
        <span id="109" />
        <span id="110" />
        <span id="111" />
        <span id="112" />
        <span id="113" />
        <span id="114" />
        <span id="115" />
        <span id="116" />
        <span id="117" />
        <span id="118" />
        <span id="119" />
        <span id="120" />
        <span id="121" />
        <span id="122" />
        <span id="123" />
        <span id="124" />
        <span id="125" />
        <span id="126" />
        <span id="127" />
        <span id="128" />
        <span id="129" />
        <span id="130" />
        <span id="131" />
        <span id="132" />
        <span id="133" />
        <span id="134" />
        <span id="135" />
        <span id="136" />
        <span id="137" />
        <span id="138" />
        <span id="139" />
        <span id="140" />
        <span id="141" />
        <span id="142" />
        <span id="143" />
        <span id="144" />
        <span id="145" />
        <span id="146" />
        <span id="147" />
        <span id="148" />
        <span id="149" />
        <span id="150" />
        <span id="151" />
        <span id="152" />
        <span id="153" />
        <span id="154" />
        <span id="155" />
        <span id="156" />
        <span id="157" />
        <span id="158" />
        <span id="159" />
        <span id="160" />
        <span id="161" />
        <span id="162" />
        <span id="163" />
        <span id="164" />
        <span id="165" />
        <span id="166" />
        <span id="167" />
        <span id="168" />
        <span id="169" />
        <span id="170" />
        <span id="171" />
        <span id="172" />
        <span id="173" />
        <span id="174" />
        <span id="175" />
        <span id="176" />
        <span id="177" />
        <span id="178" />
        <span id="179" />
        <span id="180" />
        <span id="181" />
        <span id="182" />
        <span id="183" />
        <span id="184" />
        <span id="185" />
        <span id="186" />
        <span id="187" />
        <span id="188" />
        <span id="189" />
        <span id="190" />
        <span id="191" />
        <span id="192" />
        <span id="193" />
        <span id="194" />
        <span id="195" />
        <span id="196" />
        <span id="197" />
        <span id="198" />
        <span id="199" />
        <span id="200" />
        <span id="201" />
        <span id="202" />
        <span id="203" />
        <span id="204" />
        <span id="205" />
        <span id="206" />
        <span id="207" />
        <span id="208" />
        <span id="209" />
        <span id="210" />
        <span id="211" />
        <span id="212" />
        <span id="213" />
        <span id="214" />
        <span id="215" />
        <span id="216" />
        <span id="217" />
        <span id="218" />
        <span id="219" />
        <span id="220" />
        <span id="221" />
        <span id="222" />
        <span id="223" />
        <span id="224" />
        <span id="225" />
        <span id="226" />
        <span id="227" />
        <span id="228" />
        <span id="229" />
        <span id="230" />
        <span id="231" />
        <span id="232" />
        <span id="233" />
        <span id="234" />
        <span id="235" />
        <span id="236" />
        <span id="237" />
        <span id="238" />
        <span id="239" />
        <span id="240" />
        <span id="241" />
        <span id="242" />
      </div>
    </div> 
    <form id='game-form'>
      <div class='controls'>
        <button id="play-pause-button" type="button" class="btn btn-secondary"></button>
      </div> 
    </form>
    <div id='remaining-moves' ></div>
  </div>

}
